@CHARSET "UTF-8";

body {

	/* background gradient at top of page, from http://www.colorzilla.com/gradient-editor/ */
	/* Using a background of red and white colors from the flag of Italy */
	background: -moz-linear-gradient(top, #f1f2f1 0%, #ce2b37 20px);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1f2f1),
		color-stop(20px, #ce2b37));
	background: -webkit-linear-gradient(top, #f1f2f1 0%, #ce2b37 20px);
	background: -o-linear-gradient(top, #f1f2f1 0%, #ce2b37 20px);
	background: -ms-linear-gradient(top, #f1f2f1 0%, #ce2b37 20px);
	background: linear-gradient(top, #f1f2f1 0%, #ce2b37 20px);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f1f2f1',
		endColorstr='#ce2b37', GradientType=0);
	background-repeat: repeat-x;
	background-color: ce2b37; /* Old browsers */
	margin: 0;
}

/* this class is used for the street address block in the header */
.address {
	text-align: center;
	font-family: "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	font-size: x-small;
	float: left;
	margin: 1em;
	color: white;
}

/* this class is used for the hours of operation block in the header */
.hours {
	text-align: center;
	font-family: "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	font-size: x-small;
	float: right;
	margin: 1em;
	color: white;
}

/* ID used for images in divs.  Floats all images right */
#content img {
	float: right;
	margin: 6px 12px;
	/* clear: right; */
}

/* These classes are used for the main navigation menu */
ul.nav {
	display: block;
	list-style-type: none;
	margin: 0 0 6px 0;
	padding: 0;
	float: left;
	background-color: #e4bb64;
	width: 100%;
}

li.nav {
	display: block;
	float: left;
}

a.nav {
	display: block;
	font-family: Gruppo, "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	font-weight: bold;
	font-size: 100%;
	text-align: center;
	text-decoration: none;
	margin: 0;
	padding: 5px 1em;
	color: black;
	background-color: #e4bb64;
}

/* Grey out the menu text of the page that's currently being displayed */
a.faint {
	display: block;
	font-family: Gruppo, "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	font-weight: bold;
	font-size: 100%;
	text-align: center;
	text-decoration: none;
	margin: 0;
	padding: 5px 1em;
	color: silver;
	background-color: #e4bb64;
}

/* For the calendar unordered lists */
ul.cal {
	
}

li.cal {
	font-family: Gruppo, "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	font-weight: bold;
	color: white;
}

/* Styles for wine and cocktail lists */

ul.vino {
	list-style-type: none;
}

li.vino {
	font-family: Gruppo, "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	font-weight: bold;
	font-size: 120%;
	padding: 4px 0 0 1em;
	text-align: left;
}

li.vinosub{
	font-family: Gruppo, "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	text-align: left;
	padding: 0 0 0 2em;
}

img.vino{
	float: none;
}

/* Styles for page contents */

p.centertext {
	font-family: Gruppo, "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	text-align: center;
	font-weight: bold;
	margin: 1em;
}

h2.centertext {
	font-family: Gruppo, "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	text-align: center;
	margin: 1em 0 0 1em;
	clear: both;
}

p.pagetext {
	font-family: Gruppo, "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	text-align: justify;
	font-weight: bold;
	margin: 1em;
}

h1.pagetext {
	font-family: Gruppo, "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	text-align: center;
}

h2.pagetext {
	font-family: Gruppo, "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	text-align: left;
	margin: 1em 0 0 1em;
	clear: both;
}

h3.pagetext {
	font-family: Gruppo, "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	text-align: left;
	margin: 0 0 0 1.5em;
}

h1.pagetext:first-letter {
	font-size: 175%;
	color: white;
}

h2.pagetext:first-letter {
	font-size: 150%;
	color: white;
}

h2.centertext:first-letter {
	font-size: 150%;
	color: white;
}

h3.pagetext:first-letter {
	font-size: 125%;
	color: white;
}

/* styles for the banner section */
#banner {
	text-align: center;
}

#banner h2 {
	font-family: Gruppo, "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	font-size: 1.5em;
	letter-spacing: .2em;
	color: #ffffff;
	margin-top: -1em;
}

#banner h3 {
	font-family: Gruppo, "Lucina Sans", "Liberation Sans", Verdana,
		sans-serif;
	font-size: 1em;
	letter-spacing: .2em;
	color: #ffffff;
	margin-top: -1em;
}

p.subtitle2 {
	font-family: "Dancing Script", Times, serif;
	font-size: 120%;
	text-align: center;
	color: white;
	padding: 4px;
	margin: 2em;
	clear: both;
	border-top-style: solid;
	border-top-width: 2px;
	border-color: #e4bb64;
}

/* styles for the slideshow section */
/* this makes the photos take up the entire width of the browser screen */
img.slideshow {
	width: 100%;
}
